@charset "UTF-8";
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.modal {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

.head {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

/* main-nav */
/* Header */
.container {
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 768px;
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 1200px;
    margin: 0;
  }
}

.web-studio {
  margin: 16px 0;
  width: 134px;
  height: 28px;
}

@media (min-width: 768px) {
  .web-studio {
    margin-right: 88px;
  }
}

@media (min-width: 1200px) {
  .web-studio {
    width: 145px;
    height: 31px;
    margin: 24px 93px 25px 0;
  }
}

.nav-points {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  display: none;
}

@media (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 84px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-nav .item + .item {
    margin-left: 50px;
  }
  .site-nav a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #212121;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav a:hover, .site-nav a:focus {
    color: #2196f3;
  }
  .site-nav .link.current {
    color: #2196f3;
  }
  .site-nav .link {
    position: relative;
  }
  .site-nav .link::after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
    opacity: 0;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav .link.current::after {
    opacity: 1;
  }
}

@media (min-width: 1200px) {
  .site-nav {
    margin-right: 300px;
  }
}

.web-link {
  display: none;
}

@media (min-width: 768px) {
  .web-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
  }
  .web-link .link-mail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10px;
    color: #757575;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .web-link .link-mail:hover, .web-link .link-mail:focus {
    outline: none;
    color: #2196f3;
  }
  .web-link .link-tel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0;
    color: #757575;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .web-link .link-tel:hover, .web-link .link-tel:focus {
    outline: none;
    color: #2196f3;
  }
  .web-link .icon-envelope {
    width: 14px;
    height: 10px;
    margin-right: 8px;
    fill: currentColor;
  }
  .web-link .icon-smartphone {
    width: 10px;
    height: 14px;
    margin-right: 8px;
    fill: currentColor;
  }
}

@media (min-width: 1200px) {
  .web-link {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .web-link .link-mail {
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 0;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .web-link .link-tel {
    font-size: 14px;
    line-height: 1.14;
    margin-left: 30px;
  }
  .web-link .icon-envelope {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
  .web-link .icon-smartphone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
  }
}

.hero {
  text-align: center;
}

.overlay {
  height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #c4c4c4;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/шапкаmin480.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/шапкаmin480.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (min-width: 481px) {
  .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/шапкаmin768.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/шапкаmin768.jpg");
  }
}

@media screen and (min-width: 769px) {
  .overlay {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/шапкаmin.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/шапкаmin.jpg");
  }
}

.hero-title {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media (min-width: 1200px) {
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.heading-container {
  max-width: 360px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

@media (min-width: 1200px) {
  .heading-container {
    max-width: 696px;
  }
}

/* button */
.service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  background-color: #2196f3;
}

.service > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.service:hover, .service:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.actions {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .actions {
    padding-top: 94px;
    padding-bottom: 0;
  }
}

.paragraph {
  display: block;
}

@media (min-width: 768px) {
  .paragraph {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.paragraph-item:not(:last-child) {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .paragraph-item {
    width: 354px;
    margin: 0 30px 30px 0;
  }
  .paragraph-item:nth-child(2n) {
    margin-right: 0;
  }
  .paragraph-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .paragraph-item {
    width: 270px;
  }
  .paragraph-item:nth-child(4n) {
    margin-right: 0;
  }
  .paragraph-item:nth-last-child(-n + 4) {
    margin-bottom: 0;
  }
  .paragraph-item:not(:last-child) {
    margin-right: 30px;
  }
}

.paragraph-item .master {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 450px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

@media (min-width: 768px) {
  .paragraph-item .master {
    width: 354px;
  }
}

@media (min-width: 1200px) {
  .paragraph-item .master {
    width: 270px;
  }
}

.paragraph-item .master-icon {
  width: 70px;
  height: 70px;
}

.paragraph-title {
  padding-top: 30px;
  padding-bottom: 10px;
  font-family: Roboto;
  font-weight: bold;
  margin: auto;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .paragraph-title {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .paragraph-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 354px;
  }
}

@media (min-width: 1200px) {
  .paragraph-title {
    width: 270px;
  }
}

.actions-title {
  width: 100%;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

@media (min-width: 768px) {
  .actions-title {
    width: 354px;
  }
}

@media (min-width: 1200px) {
  .actions-title {
    width: 270px;
  }
}

.section {
  display: none;
}

@media (min-width: 1200px) {
  .section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 94px;
  }
  .section .work-container {
    display: block;
  }
  .section .work {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section .work .photo {
    width: 370px;
    height: 294px;
    margin-right: 30px;
    margin-bottom: 30px;
    position: relative;
  }
  .section .work .photo:nth-child(3n) {
    margin-right: 0;
  }
  .section .work .photo:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  .section .profile-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
  }
  .section .example {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 27px 0;
    color: #ffffff;
  }
}

.section-command {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 16px;
  line-height: 1.19;
  background-color: #f5f4fa;
}

@media (min-width: 1200px) {
  .section-command {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section-command .command-container {
  display: block;
}

@media (min-width: 768px) {
  .command-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.command-list img {
  margin-bottom: 30px;
  width: 450px;
}

@media screen and (min-width: 768px) {
  .command-list img {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .command-list img {
    width: 270px;
  }
}

.command-item {
  width: 450px;
  height: 622px;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.command-item:not(:last-child) {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .command-item {
    margin: 0 30px 30px 0;
    width: 354px;
    height: 536px;
  }
  .command-item:nth-child(2n) {
    margin-right: 0;
  }
  .command-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .command-item {
    width: 270px;
    height: 428px;
  }
  .command-item:nth-child(4n) {
    margin-right: 0;
  }
  .command-item:nth-last-child(-n + 4) {
    margin-bottom: 0;
  }
  .command-item:not(:last-child) {
    margin-right: 30px;
  }
}

.command-person {
  margin-top: 0;
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.prof-title {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.command-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-top: 16px;
  background-color: #ffffff;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.command-link:hover, .command-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.command-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.section-client {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 1200px) {
  .section-client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client-container {
  display: block;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.client-item {
  margin: 0 30px 30px 0;
}

@media (min-width: 768px) {
  .client-item:nth-child(3n) {
    margin-right: 0;
  }
  .client-item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .client-item:not(:last-child) {
    margin-right: 30px;
  }
  .client-item:nth-child(6n) {
    margin-right: 0;
  }
  .client-item:nth-last-child(-n + 6) {
    margin-bottom: 0;
  }
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 90px;
  border: 1px solid #afb1bb;
  border-radius: 4px;
  color: #afb1bb;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .logo {
    width: 226px;
  }
}

@media (min-width: 768px) {
  .logo {
    width: 170px;
  }
}

.logo:hover, .logo:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.client-logo {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 450px;
  min-height: 609px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

@media (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 8px 8px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
}

.modal-btn:hover, .modal-btn:focus {
  fill: #2196f3;
}

textarea {
  resize: none;
}

.form {
  width: 450px;
  height: 609px;
  /* outline: 1px solid tomato; */
  margin-left: auto;
  margin-right: auto;
  padding: 40px 39px 40px 41px;
}

@media (min-width: 1200px) {
  .form {
    width: 528px;
    height: 581px;
  }
}

b {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-container {
  position: relative;
}

.modal-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 12px;
  width: 18px;
  height: 18px;
  cursor: pointer;
  fill: currentColor;
}

.modal-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form-field label {
  margin-bottom: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-field input {
  width: 370px;
  height: 40px;
  padding-left: 42px;
  margin: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition: color 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  background-color: #ffffff;
  color: #212121;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .form-field input {
    width: 448px;
  }
}

.form-field input:hover + .modal-icon {
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field input:focus + .modal-icon {
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field input:hover,
.form-field input:focus {
  border-color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field textarea:hover,
.form-field textarea:focus {
  border-color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field .comment {
  width: 370px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 10px;
}

@media (min-width: 1200px) {
  .form-field .comment {
    width: 448px;
  }
}

.form-field .comment::-webkit-input-placeholder {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field .comment:-ms-input-placeholder {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field .comment::-ms-input-placeholder {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field .comment::placeholder {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-contract {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute; */
}

@media (min-width: 1200px) {
  .form-contract {
    font-size: 14px;
    line-height: 1.71;
  }
}

.form-contract input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.checkbox:checked + .checkbox-icon {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url("../images/iconcheckminimal.svg");
  background-size: contain;
  background-origin: border-box;
}

.link-contract {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #2196f3;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

@media (min-width: 1200px) {
  .link-contract {
    font-size: 14px;
    line-height: 1.71;
  }
}

.send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  padding: 10px 55px 10px 56px;
  margin-top: 31px;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  border: none;
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

@media (min-width: 768px) {
  .send {
    margin-top: 30px;
  }
}

.portfolio-section {
  margin-top: 60px;
  margin-bottom: 60px;
}

.portfolio-section .container {
  display: block;
}

.filter-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-left: auto;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .filter-nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin-top: 0;
    margin-bottom: 30px;
  }
}

.filter-nav .button-push + .button-push {
  margin-left: 8px;
}

.filter-nav .button-push:nth-child(4n) {
  margin-left: 0;
}

.filter-nav .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  border: 0px;
  padding: 6px 22px;
  min-width: 73px;
  background-color: #f5f4fa;
  color: #212121;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-nav .nav:hover, .filter-nav .nav:focus {
  background: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.cart-list {
  display: block;
}

@media (min-width: 768px) {
  .cart-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.cart-list .item {
  border: 1px solid #eeeeee;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.cart-list .item:nth-child(3n) {
  margin-right: 0;
}

.cart-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.cart-list .title {
  color: #757575;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
}

.footer {
  display: block;
  text-align: center;
  margin: auto;
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container-footer {
  display: block;
}

@media (min-width: 768px) {
  .footer .container-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media (min-width: 1200px) {
  .footer .container-footer {
    text-align: left;
  }
}

.footer-logo {
  display: inline-block;
  margin-bottom: 20px;
}

.studio-web {
  width: 154px;
  height: 28px;
}

@media (min-width: 1200px) {
  .studio-web {
    width: 145px;
    height: 31px;
  }
}

.footer-addres {
  display: block;
  min-width: 231px;
}

@media (min-width: 768px) {
  .footer-addres {
    text-align: center;
    margin-left: 76px;
  }
}

@media (min-width: 1200px) {
  .footer-addres {
    margin: 0;
  }
}

.address {
  margin-bottom: 8px;
  text-align: center;
  color: #ffffff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}

@media (min-width: 1200px) {
  .address {
    margin-bottom: 9px;
  }
}

.footer-link {
  text-align: center;
}

@media (min-width: 1200px) {
  .footer-link {
    text-align: left;
  }
}

.footer-mail {
  display: inline-block;
  margin-bottom: 8px;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail:hover, .footer-mail:focus {
  color: #2196f3;
}

@media (min-width: 1200px) {
  .footer-mail {
    margin-bottom: 9px;
  }
}

.footer-tel {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-tel:hover, .footer-tel:focus {
  color: #2196f3;
}

.social-networks {
  display: block;
}

@media (min-width: 768px) {
  .social-networks {
    margin-left: 165px;
  }
}

@media (min-width: 1200px) {
  .social-networks {
    margin-left: 70px;
  }
}

.networks-title {
  text-align: center;
  margin: 60px auto 20px;
  color: #ffffff;
}

@media (min-width: 768px) {
  .networks-title {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .networks-title {
    text-align: left;
    margin-bottom: 20;
  }
}

.social-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-modal {
  display: block;
}

@media (min-width: 768px) {
  .footer-modal {
    margin: auto;
  }
}

@media (min-width: 1200px) {
  .footer-modal {
    margin: 0 0 0 93px;
  }
}

.email-title {
  text-align: center;
  margin: 60px auto 20px;
  color: #ffffff;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .email-title {
    text-align: left;
    margin-bottom: 20px;
  }
}

.modal-title {
  margin: 0;
}

.footer-form {
  display: block;
}

@media (min-width: 1200px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-form input {
  width: 450px;
  height: 50px;
  padding: 15px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  background-color: #2f303a;
}

@media (min-width: 1200px) {
  .footer-form input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
}

.footer-form .email::-webkit-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form .email:-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form .email::-ms-input-placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form .email::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form .subscribe {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  padding: 10px 0 10px 29px;
  border-radius: 4px;
  min-width: 200px;
  border: none;
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.footer-form .telegram {
  margin-left: 10px;
  margin-right: 28px;
  width: 24px;
  height: 24px;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-button {
  margin-left: auto;
  padding: 0;
  border: none;
  color: #212121;
  background-color: transparent;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
  cursor: pointer;
  outline: none;
  width: 40px;
  height: 40px;
}

.menu-button svg {
  fill: currentColor;
}

.menu-button:hover, .menu-button:focus {
  color: #2196f3;
}

@media (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 48px 40px;
  background-color: #ffffff;
  padding: 48px 40px;
  cursor: pointer;
  z-index: 1;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
}

.menu-container.is-open {
  display: block;
}

.menu-nav {
  font-size: 40px;
  line-height: 1.18;
}

.menu-nav li:not(:last-child) {
  margin-bottom: 32px;
}

.menu-nav li:not(:last-child) .current {
  color: #2196f3;
}

.menu-nav .link {
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav .link:hover, .menu-nav .link:focus {
  color: #2196f3;
}

.menu-tel {
  margin-top: 302px;
  font-size: 34px;
  line-height: 1.18;
}

.menu-tel a {
  color: #2196f3;
}

.menu-mail {
  margin-top: 32px;
  font-size: 24px;
  line-height: 1.17;
}

.menu-mail a {
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-mail a:hover, .menu-mail a:focus {
  color: #2196f3;
}

.menu-sn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
  font-size: 18px;
  line-height: 1.22;
  margin-left: -10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu-sn li {
  margin-left: 10px;
}

.menu-sn li:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.menu-sn a {
  color: #2196f3;
}
/*# sourceMappingURL=main.css.map */