.hero {
    text-align: center;
  }
  
  .overlay {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    margin: 0 auto;
    background-color: #c4c4c4;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/шапкаmin.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .hero-title {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 30px;
  
    color: $background-color;
  
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
  }
  
  .heading-container {
    max-width: 660px;
    margin: 0 auto;
  }
  
  /* button */
  .service {
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
  
    background-color: $accent-color;
    color: $background-color;
  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
  
    cursor: pointer;
  }