.actions {
  padding-top: 60px;
  padding-bottom: 60px;

  @media (min-width: $desktop-width) {
    padding: 94px 0;
  }
}

.paragraph {
  display: block;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
  
}

.paragraph-item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media (min-width: $tablet-width) {
    width: 354px;

    margin: 0 30px 30px 0;

    &:nth-child(2n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    width: 270px;

    &:nth-child(4n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 4) {
      margin-bottom: 0;
    }

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  & .master {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 450px;
    height: 120px;
  
    background-color: #f5f4fa;
    border-radius: 4px;

    @media (min-width: $tablet-width) {
      width: 354px;
    }

    @media (min-width: $desktop-width) {
      width: 270px;
    }
  }
  
  & .master-icon {
    width: 70px;
    height: 70px;
  }
}

.paragraph-title {
  padding-top: 30px;
  padding-bottom: 10px;

  font-family: Roboto;
  font-weight: bold;
  margin: auto;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    width: 354px;
  }

  @media (min-width: $desktop-width) {
    width: 270px;
  }
}

.actions-title {
  width: 100%;
  font-size: 14px;
  line-height: 1.71;
  color: $title-text-color;

  @media (min-width: $tablet-width) {
    width: 354px;
  }

  @media (min-width: $desktop-width) {
    width: 270px;
  }
}