.command-person {
  margin-top: 0;
  margin-bottom: 10px;
  
  color: $primary-text-color;
  
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.prof-title {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: $title-text-color;
}

.networks-list {
  display: flex;
  justify-content: center;

  & > li:not(:last-child) {
    margin-right: 10px;
  }
}

.command-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  margin-top: 16px;

  background-color: $background-color;
  color: #afb1b8;

  @include transit($timing-function);

  &:hover,
  &:focus {
  background-color: $accent-color;
  color: $background-color;
  }
}

.command-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}