$primary-text-color: #212121;
$title-text-color: #757575;
$accent-color: #2196f3;
$background-color: #ffffff;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$main-font-family: Roboto, sans-serif;

$tablet-width: 768px;
$desktop-width: 1200px;